table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

table {
    background-color: rgb(197, 23, 197);
    width: 50%;
    text-align: center;
    margin: auto;
}

#th1 {
    width: 15%;
}

th {
    width: 42.5%;
}

h1 {
    text-align: center;
}

video {
    width: 200px;
    height: 125px;
}

img {
    width: 200px;
    height: 125px;
}

#portrait {
    border-radius: 50%;
    width: 140px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2, p {
    margin-left: 25%;
    margin-right: 25%;
}
